---
import { Stack } from '~/styled-system/jsx';
import Layout from '../layouts/Layout.astro';

import Experience from '~/components/Experience';
import LeftPanel from '~/components/LeftPanel';
import Skills from '~/components/Skills';
import { box, center, grid, stack } from '~/styled-system/patterns';

const iconMargin = 1;
---

<Layout title="Kevin Mui">
  <div class={center()}>
    <div class={box({ maxW: '6xl', mt: 16 })}>
      <div class={grid({ gridTemplateColumns: '1fr 2fr', w: 'full', hideBelow: 'md' })}>
        <div class={stack()}>
          <LeftPanel client:load transition:name="left-panel" />
        </div>
        <Stack>
          <Experience client:load transition:name="experience" />
          <Skills client:load transition:name="skills" />
        </Stack>
      </div>
      <div class={stack({ w: 'full', hideFrom: 'md' })}>
        <div class={stack()}>
          <LeftPanel client:load transition:name="left-panel" />
        </div>
        <Stack>
          <Experience client:load transition:name="experience" />
          <Skills client:load transition:name="skills" />
        </Stack>
      </div>
    </div>
  </div>
</Layout>
