---
import { Box, Center, Grid, Stack } from '~/styled-system/jsx';
import Layout from '../layouts/Layout.astro';

import Experience from '~/components/Experience';
import LeftPanel from '~/components/LeftPanel';
import Skills from '~/components/Skills';
import { css } from '~/styled-system/css';
import { box, center, grid, stack } from '~/styled-system/patterns';
import SolidPDF from '~/components/SolidPDF';
import PDF from '~/react/PDF';

const iconMargin = 1;
---

<Layout title="Kevin Mui">
  <div class={center()}>
    <div class={box({ maxW: '6xl', mt: 16 })}>
      <div class={grid({ gridTemplateColumns: '1fr 2fr', w: 'full' })}>
        <div class={stack()}>
          <LeftPanel client:load transition:name="left-panel" />
          <!-- Test -->
          <!-- <SolidPDF client:only="solid-js" /> -->
        </div>
        <div class={css({ aspectRatio: '8.5 / 13' })}>
          <PDF client:only="react" />
          <!-- <Experience client:load transition:name="experience" /> -->
          <!-- <Skills client:load transition:name="skills" /> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
