---
import { Button } from '~/components/park-ui/button';
import Layout from '../layouts/Layout.astro';

import { ArrowLeftIcon } from 'lucide-solid';
import LeftPanel from '~/components/LeftPanel';
import ResumeDownloadLink from '~/react/ResumeDownloadLink';
import ResumeViewer from '~/react/ResumeViewer';
import { css } from '~/styled-system/css';
import { Box, LinkOverlay } from '~/styled-system/jsx';
import { box, center, grid, stack } from '~/styled-system/patterns';
import { hstack } from '~/styled-system/patterns';
---

<Layout title="Kevin Mui">
  <div class={center()}>
    <div class={box({ maxW: '6xl', p: 16 })}>
      <div class={grid({ gridTemplateColumns: { md: '1fr 2fr' }, w: 'full' })}>
        <div class={stack()}>
          <LeftPanel client:load transition:name="left-panel" />
        </div>
        <div class={stack()}>
          <div class={hstack()}>
            <Box>
              <Button variant="subtle"
                ><ArrowLeftIcon /> Back
                <LinkOverlay href="/" />
              </Button>
            </Box>
            <ResumeDownloadLink client:only="react" />
          </div>

          <div class={css({ aspectRatio: '8.5 / 13' })}>
            <ResumeViewer client:only="react" />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
